*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #8B51FD;
}

.logo{
    display: block;
    margin: 20px auto;
    width: 200px;
}
main{
    display: block;
    background-color: #F4F4F4;
    width: 375px;
    border-radius: 20px;
    padding: 44px 24px 23px;
    margin: 0 auto;
}
label{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #777777;
}
select, input{
    background-color: #ffffff;
    border: 1px solid #BBBBBB;
    height: 48px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #555555;
    padding: 10px;
    cursor: pointer;
}
input{
    cursor: text;
}
input::placeholder{
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #555555;
}
main button{
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #772FD3;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    vertical-align: middle;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}
main button:hover{
    opacity: 0.8;
}
main button:active{
    opacity: 0.6;
}
section{
    margin-top: 30px;
    width: 327px;
    border-radius: 20px;
    border: 1px solid #772FD3;
    padding: 15px;
}
section img{
    display: block;
    margin: 0 auto;
}
section .moeda{
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
    margin: 5px 0;
}
section .valor{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color: #555555;
}
.seta{
    margin: 20px auto;
}